<form action="/create" method="post">
  <dl>
    <dt><label for="file-name">Add a new document:</label></dt>
    <dd>
      <input type="text" name="file-name" id="file-name">
      <button type="submit">Create</button>
    </dd>
  </dl>
</form>
